@import "../../responsive.scss";
.aboutPage {
    display: flex;
    height: 100%;
  
    .textContainer {
      flex: 3;
      padding-bottom: 110px;
      font-size: 17px;
      
      font-family: 'Courier New', Courier, 'Lucida Console', Monaco, monospace;
      text-align: justify;
  text-justify: inter-word;
      
  
      .wrapper {
        padding-right: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        height: 100%;
  
        @include lg{
          padding-right: 50px;
        }
  
        @include md{
          padding: 0;
        }
  
        @include sm{
          justify-content: flex-start;
        }
  
        .title {
          font-size: 64px;
          font-family: "Lato", sans-serif;
          
  
          @include lg {
            font-size: 48px;
          }
        }

        .para{
            p{
                font-size: 30px;
                
            }
        }
  
        .boxes {
          display: flex;
          gap: 90px;
          font-family: "Lato", sans-serif;
          
          //justify-content: space-between;
          
  
          @include sm {
            //display: none;
            gap: 110px;
            
          }
  
          h1 {
            font-size: 36px;
  
            @include lg {
              font-size: 32px;
            }
          }
  
          h2 {
            font-size: 20px;
            font-weight: 300;
          }
        }
      }
    }
  
    .imgContainer {
      flex:2;
      background-color: #fcf5f3;
      position: relative;
      display: flex;
      align-items: center;
  
      @include md {
        display: none;
      }
  
      img {
        width: 125%;
        position: absolute;
        right: 1px;
       
        @include lg {
            width: 125%;
            bottom: 0px;
            
           
            
         
        }
      }
    }
  }
  